@import "styles/breakpoints";
@import "styles/colors";
@import "styles/shapes";

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
  margin-top: 6rem;
  margin-bottom: 2rem;

  @media screen and (min-width: $breakpointMedium) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.beer {
  position: relative;
  display: flex;
  cursor: pointer;
  background-color: $white;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  opacity: 1;
  min-height: 20rem;
  outline-offset: 4px;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.15s linear;
  will-change: transform;
  &:hover {
    transform: scale(1.03);
  }

  @media screen and (min-width: $breakpointSmall) {
    min-height: 25rem;
  }
}

.figure {
  display: grid;
  position: relative;
  place-content: center;
  background-color: $turquoise;
  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
  width: 10rem;
  padding: 1rem;
  margin: 0;
  z-index: 1;

  img {
    width: auto;
    height: auto;
    max-width: 8rem;
    max-height: 15rem;
    @media screen and (min-width: $breakpointSmall) {
      max-height: 20rem;
    }
  }
  figcaption {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 5rem;
    line-height: 5rem;
    transform: translate(-30%, -30%) rotate(-10deg);
    transform-origin: center center;
  }

  @media screen and (min-width: $breakpointSmall) {
    width: 15rem;
    padding: 2rem;
  }

  @media screen and (min-width: $breakpointLarge) {
    width: 25rem;
  }
}

.details {
  flex: 1;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.date {
  margin-bottom: 1rem;
  text-align: right;
  @media screen and (min-width: $breakpointSmall) {
    margin-bottom: 2rem;
  }
}

.name {
  font-size: 2rem;

  @media screen and (min-width: $breakpointMedium) {
    font-size: 2.8rem;
  }

  @media screen and (min-width: $breakpointLarge) {
    font-size: 3rem;
  }
}

.tagline {
  margin-bottom: 0;
}
