@import "normalize.css/normalize";
@import "./breakpoints.scss";
@import "./colors";

/**
  eot: IE9 Compat Modes
  woff: Modern Browsers
  ttf: Safari, Android, iOS
  svg: Legacy iOS
**/
@font-face {
  font-family: "QuicksandCitibox";
  src: url("../assets/fonts/QuicksandCitibox/QuicksandCitibox.eot");
  src: url("../assets/fonts/QuicksandCitibox/QuicksandCitibox.woff")
      format("woff"),
    url("../assets/fonts/QuicksandCitibox/QuicksandCitibox.ttf")
      format("truetype"),
    url("../assets/fonts/QuicksandCitibox/QuicksandCitibox.svg") format("svg");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  background-color: $grayLight;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  overflow: hidden;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: scroll;
}

body.mousedown *:focus {
  outline: 0;
}

body.preventScroll {
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "QuicksandCitibox", sans-serif;
  margin: 0;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5.2rem;
}

h3 {
  font-size: 4.8rem;
}

h4 {
  font-size: 3.4rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2rem;
}

input[type="month"] {
  appearance: none;
  padding-right: 0.5rem;
}

select {
  appearance: none;
  padding-right: 3rem;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: 0.7rem auto;
  background-position: calc(100% - 1.4rem) 0.7rem;

  background-image: url('data:image/svg+xml;charset=utf-8, \
  <svg aria-hidden="true" focusable="false" class="svg-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="black" d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z"></path></svg>');

  transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out;

  option {
    font-size: 1.4rem;
  }

  @media screen and (max-width: $breakpointSmall) {
    width: 100%;
    margin: 0.7rem 0;
  }
}
