@import "styles/colors";
@import "styles/shapes";
@import "styles/breakpoints";

.wrapper {
  background: $white;
  width: 100%;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  padding: 2rem;
  margin-top: -6rem;
  position: relative;
  display: grid;
  gap: 2rem;

  @media screen and (min-width: $breakpointMedium) {
    margin-top: -3rem;
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and (min-width: $breakpointMedium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.rowReverse {
  @extend .row;
  flex-direction: column-reverse;

  @media screen and (min-width: $breakpointMedium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
