@import "styles/colors";
@import "styles/shapes";
@import "styles/breakpoints";

.wrapper {
  background: $white;
  width: 100%;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  padding: 2rem;
  margin-top: -6rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media screen and (min-width: $breakpointSmall) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -3rem;
  }
}
