@import "styles/breakpoints";
@import "styles/colors";
@import "styles/shapes";

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 2rem;

  @media screen and (min-width: $breakpointSmall) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $breakpointMedium) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.beer {
  position: relative;
  display: flex;
  cursor: pointer;
  background-color: $white;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  opacity: 1;
  min-height: 20rem;
  outline-offset: 4px;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.15s linear;
  will-change: transform;
  &:hover {
    transform: scale(1.03);
  }

  @media screen and (min-width: $breakpointSmall) {
    min-height: 25rem;
  }
}

.figure {
  display: grid;
  position: relative;
  place-content: center;
  background-color: $turquoise;
  border-radius: $borderRadius;
  width: 100%;
  padding: 1rem;
  margin: 0;

  img {
    width: auto;
    height: auto;
    max-width: 8rem;
    max-height: 15rem;
    z-index: 1;
    @media screen and (min-width: $breakpointSmall) {
      max-height: 20rem;
    }
  }
  figcaption {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 3rem;
    line-height: 3rem;
    transform: translate(-20%, -20%) rotate(-10deg);
    transform-origin: center center;

    @media screen and (min-width: $breakpointSmall) {
      transform: translate(-30%, -30%) rotate(-10deg);
      font-size: 5rem;
      line-height: 5rem;
    }
    z-index: 2;
    display: block;
  }
}

.details {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  background-color: $purple;
  width: 100%;
  height: 100%;
  border-radius: $borderRadius;
  color: $white;
  opacity: 0;
  transition: opacity 0.2s linear;
  will-change: opacity, transform;
  z-index: 1;
  user-select: none;
  .beer:hover & {
    opacity: 1;
  }
}

.name {
  font-size: 2rem;
  margin-bottom: 0.5rem;

  @media screen and (min-width: $breakpointMedium) {
    font-size: 2.8rem;
  }

  @media screen and (min-width: $breakpointLarge) {
    font-size: 3rem;
  }
}

.yeast {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: $turquoise;

  @media screen and (min-width: $breakpointMedium) {
    font-size: 1.6rem;
  }

  @media screen and (min-width: $breakpointLarge) {
    font-size: 1.8rem;
  }
}
