@import "styles/colors.scss";
@import "styles//breakpoints.scss";

.header {
  text-align: center;
  color: $white;
  position: relative;
  padding: 6rem;
  background-color: $purple;
}

.main {
  width: 100%;
  margin: 0 auto;
  padding: 1.7rem 3.2rem;
  @media screen and (min-width: $breakpointMedium) {
    max-width: $breakpointLarge;
    padding: 3.2rem;
  }
}
